.rojo{
    width: 50px;
    height: 50px;
    background-color: red;
    float: left;
}
.verde{
    width: 50px;
    height: 50px;
    background-color:green;
    float: left;
}
.blanco{
    width: 50px;
    height: 50px;
    background-color:white;
    float: left;
}
.cuadro{
    width: 600px;
    height: 600px;
    border:5px solid rebeccapurple;
    border-style:solid ;
    
} 